#ddev-generated
services:
  typo3-docs:
    pull_policy: always
    container_name: ddev-${DDEV_SITENAME}-typo3-docs
    hostname: ${DDEV_SITENAME}-typo3-docs
    image: ${RENDER_GUIDES_BASE_IMAGE:-ghcr.io/typo3-documentation/render-guides:latest}
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: ${DDEV_APPROOT}
    environment:
      - VIRTUAL_HOST=${DDEV_HOSTNAME}
      - HTTP_EXPOSE=${RENDER_GUIDES_PORT:-1337}:${RENDER_GUIDES_PORT:-1337}
      - HTTPS_EXPOSE=${RENDER_GUIDES_PORT:-1337}:${RENDER_GUIDES_PORT:-1337}
      - SHELL_VERBOSITY=3
    # See output of container's `php /opt/guides/bin/guides --help` for all parameters.
    command:
      - "--config=${RENDER_GUIDES_DOCS_PATH:-Documentation}"
      - "${RENDER_GUIDES_ARGS:---verbose}"
      - "--host ${DDEV_SITENAME}.${DDEV_TLD}"
      - "--port ${RENDER_GUIDES_PORT:-1337}"
      - "--watch"
      - "${RENDER_GUIDES_DOCS_PATH:-Documentation}"
    volumes:
      - "${DDEV_APPROOT}/Documentation:/project/Documentation"
      - "${DDEV_APPROOT}/Documentation-GENERATED-temp:/project/Documentation-GENERATED-temp"
      - ".:/mnt/ddev_config"
      - "ddev-global-cache:/mnt/ddev-global-cache"
